* {
  page-break-inside: avoid;
}

body {
  background: #020203;
  color: #d3d3e7;
  font-family: sans-serif;
  overflow: hidden;
}

body .print {
  min-width: 1920px !important;
  width: 1950px !important;
  min-height: 1080px;
  height: 1080px;
}

.SlideContent {
  padding: 3vh 5vw 2vh 5vw;
}

.Slide .Title {
  display: block;
  text-align: center;
  page-break-inside: avoid;
}

.Slide .Title h1 {
  font-weight: 700;
  font-size: 12vh;
  margin-top: 32vh;
}

.Slide .Title .subtitle {
  margin-top: -15vh;
  color: orange;
}

.Slide .Header {
  display: block;
  text-align: center;
  page-break-inside: avoid;
}

.Slide .Header h1 {
  font-weight: 700;
  font-size: 12vh;
  margin-top: 32vh;
}

.Slide {
  display: block;
  margin: 0;
  page-break-inside: avoid;
}

.Slide h1 {
  margin-left: 0.2vw;
  color: #d3d3e7;
  font-size: 5vh;
}

.Slide h2 {
  font-size: 4vh;
}

.Slide h3 {
  font-size: 3vh;
}

.Slide h4 {
  font-size: 2vh;
}

.Slide h5 {
  font-size: 1.5vh;
}

.Slide .prism-code {
  padding-left: 5vw;
  font-size: 2vh !important;
}

.Slide .language-javascript {
  padding: 0.1vh 0 0 5vw;
  margin: 0;
}

.Slide .codehuge {
  font-size: 5vh !important;
  padding: 0.1vh 0 0 5vw;
  margin: 0;
}

.Slide .codesmall {
  font-size: 3vh !important;
  padding: 0.1vh 0 0 5vw;
  margin: 0;
}

.Slide .codejsx {
  font-size: 1.7vh !important;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.red {
  color: red !important;
}

.Footer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5vh;
  width: 100%;
  page-break-inside: avoid;
}

.Footer .myname {
  border-top: 1px solid red;
  padding: 0.2vw 0.2vh 0.5vw 0.2vh;
  position: absolute;
  bottom: 0.1vh;
  left: 1vw;
}

.Footer .slides {
  border-top: 1px solid red;
  padding: 0.2vw 0.2vh 0.5vw 0.2vh;
  position: absolute;
  bottom: 0.1vh;
  right: 1vw;
}

.Chart {
  font-size: 5vh;
  color : red;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid gray;
  min-height: 75vh;
}


.slide2print .Slide {
  page-break-before: always;
}

.slide2print .Slide .Footer {
  display: none;
}